<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Hamburguesa de Lentejas</title>
</head>
<body>
    <h1>Receta de hamburguesa de lentejas</h1>
    <p>Las hamburguesas de lentejas son perfectas para quienes buscan una opción saludable y sabrosa.</p>
    <hr/>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>200 gr de lentejas cocidas</li>
        <li>1 cebolla picada</li>
        <li>1 diente de ajo</li>
        <li>1 huevo</li>
        <li>Sal y pimienta a gusto</li>
        <li>Pan rallado</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol>
        <li>Procesar las lentejas hasta obtener una pasta.</li>
        <li>Sofreír la cebolla y el ajo, luego agregar a la pasta de lentejas.</li>
        <li>Añadir el huevo y el pan rallado para dar consistencia.</li>
        <li>Formar las hamburguesas y cocinarlas en una sartén con un poco de aceite.</li>
    </ol>
    <br>
    <hr />
    <ul>
        <li><a href="https://www.paulinacocina.net/hamburguesas-de-lentejas/12165" target="_blank" rel="noreferrer noopener"><strong>Leer la receta de Paulina Cocina</strong></a></li>
        <li><a href="pizza.html"><strong>Leer receta de pizza casera</strong></a></li>
        <li><a href="../../index.html"><strong>Volver al inicio</strong></a></li>
    </ul>
</body>
</html>
