<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Pizza Casera</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Receta de pizza casera en simples pasos</h1>
    <img src="./img/pizza.jpg" alt="Pizza casera" width="500" height="250">
    <p>Disfruta de una deliciosa pizza casera con esta receta sencilla.</p>
    <hr />
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>500 gr de harina</li>
        <li>300 ml de agua</li>
        <li>25 gr de levadura fresca</li>
        <li>Sal a gusto</li>
        <li>200 gr de salsa de tomate</li>
        <li>300 gr de queso mozzarella</li>
        <li>Orégano</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol>
        <li>Disolver la levadura en agua tibia.</li>
        <li>Agregar la harina y la sal, amasar hasta obtener una masa suave.</li>
        <li>Dejar reposar la masa por 1 hora.</li>
        <li>Estirar la masa y agregar la salsa de tomate y la mozzarella.</li>
        <li>Hornear a 220°C por 15-20 minutos.</li>
    </ol>
    <br>
    <iframe width="679" height="382" src="https://www.youtube.com/embed/G3LmiPpjMgY" title="ASÍ hago la pizza ahora / pizza casera - Paulina on fire" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <hr />
    <ul>
        <li><a href="https://www.paulinacocina.net/masa-para-pizza/21499" target="_blank" rel="noreferrer noopener"><strong>Leer la receta de Pualina Cocina</strong></a></li>
        <li><a href="hamburguesa_lentejas.html"><strong>Leer receta de hamburguesa de lentejas</strong></a></li>
        <li><a href="../../index.html"><strong>Volver al inicio</strong></a></li>
    </ul>
</body>
</html>
